<!-- newsletter-section -->
<section class="newsletter-section">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col-lg-6 col-md-12 col-sm-12 text-column">
                <div class="text">
                    <!-- <div class="icon-box"><i class="flaticon-mail"></i></div> -->
                    <h4>CÔNG TY TNHH PHÒNG CHÁY CHỮA CHÁY THIÊN MINH</h4>
                    <p style="color: rgb(185 176 176);font-size:14px;">Công ty TNHH PCCC Thiên Minh thành lập theo giấy đăng ký kinh doanh số 0108624490, do Sở Kế Hoạch và đầu tư thành phố Hà Nội cấp ngày 27 thánh 02 năm 2019.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 form-column">
                <form action="index.html" method="post" class="newsletter-form">
                    <p style="color: rgb(185 176 176);font-size:14px;">Đăng ký để nhân bản tin:</p>
                    <div class="form-group">
                        <input type="email" name="email" placeholder="Email" required="">
                        <button type="submit"><i class="fas fa-check"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- newsletter-section end -->


<!-- main-footer -->
<footer class="main-footer" style="background-image: url(assets/images/background/footer-bg-1.jpg);">
    <figure class="footer-logo"><img src="assets/images/LOGOTM.png" alt=""width="80px" height="100px"></figure>
    <div class="footer-top">
        <div class="auto-container">
            <div class="widget-section">
                <div class="row clearfix">
                    <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                        <div class="footer-widget about-widget">
                            <div class="widget-title">
                                <h4>PCCC THIÊN MINH</h4>
                            </div>
                            <div class="text">
                                <p>Công ty TNNN Phòng cháy chữa cháy Thiên Minh hoạt động
                                    trong lĩnh vực kinh doanh các mặt hàng Phòng cháy chữa
                                    cháy, chuyên cung cấp, xây lắp, tư vấn, thiết kế, bảo trì và 
                                    bảo dưỡng các công trình hệ thống PCCC.</p>
                            </div>
                            <div class="support-box">
                                <i class="flaticon-call"></i>
                                <p>HOTLINE</p>
                                <h4><a href="tel:0334972038">0334.972.038</a></h4>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-lg-2 col-md-6 col-sm-12 footer-column">
                        <div class="footer-widget links-widget">
                            <div class="widget-title">
                                <h4>Về chúng tôi</h4>
                            </div>
                            <div class="widget-content">
                                <ul class="links-list clearfix">
                                    <li><a href="index.html">Giới thiệu</a></li>
                                    <li><a href="index.html">Tầm nhìn sứ mệnh</a></li>
                                    <li><a href="index.html">Chiến lược phát triển</a></li>
                                </ul>
                            </div>
                        </div>
                    </div> -->
                    <div class="col-lg-2 col-md-6 col-sm-12 footer-column">
                        <div class="footer-widget links-widget">
                            <div class="widget-title">
                                <h4>Chính sách</h4>
                            </div>
                            <div class="widget-content">
                                <ul class="links-list clearfix">
                                    <li><a href="index.html">Chính sách mua hàng</a></li>
                                    <li><a href="index.html">Chính sách đổi trả và hoàn tiền</a></li>
                                    <li><a href="index.html">Chính sách bảo hành</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                        <div class="footer-widget links-widget">
                            <div class="widget-title">
                                <h4>Liên hệ</h4>
                            </div>
                            <div class="widget-content">
                                <ul class="links-list clearfix">
                                    <li style="font-size: 16px;line-height: 26px;font-weight: 600;color:rgb(185 176 176);"><i class="fa fa-map-marker-alt"></i>&nbsp;&nbsp; Địa chỉ: số 20/C43 Khu đô thị mới hai bên đường Lê Trọng Tấn, P Dương Nội,
                                        Q.Hà Đông,TP.Hà Nội.</li>
                                    <li style="font-size: 16px;line-height: 26px;font-weight: 600;color:rgb(185 176 176);"><i class="fa fa-envelope"></i>&nbsp;&nbsp; Email: congtypcccthienminh@gmail.com</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                        <div class="footer-widget map-widget">
                            <div class="widget-title">
                                <h4>Bản đồ</h4>
                            </div>
                            <div class="map-inner">
                                <div class="map-container">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m12!1m8!1m3!1d29802.037976947133!2d105.73007710046387!3d20.98242311564052!3m2!1i1024!2i768!4f13.1!2m1!1zc-G7kSAyMCBjNDMga2h1IMSRw7QgdGjhu4sgbeG7m2kgaGFpIGLDqm4gxJHGsOG7nW5nIGzDqiB0cuG7jW5nIHThuqVuIHAgZMawxqFuZyBu4buZaSBxIGjDoCDEkcO0bmcgdHAgaMOgIG7hu5lp!5e0!3m2!1svi!2sus!4v1651157842748!5m2!1svi!2sus"width="100%" height="173px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="auto-container clearfix">
            <div class="copyright pull-left">
                <p>&copy;Copyright 2022 by pcccThienMinh<a href="index.html">PCCC THIÊN MINH</a></p>
            </div>
            <ul class="footer-social clearfix pull-right">
                <li><a href="index.html"><i class="fab fa-twitter"></i></a></li>
                <li><a href="index.html"><i class="fab fa-facebook-square"></i></a></li>
                <li><a href="index.html"><i class="fab fa-pinterest-p"></i></a></li>
                <li><a href="index.html"><i class="fab fa-instagram"></i></a></li>
            </ul>
        </div>
    </div>
</footer>
<!-- main-footer end -->


<!--Scroll to top-->
<button class="scroll-top scroll-to-target" data-target="html">
    <span class="fa fa-arrow-up"></span>
</button>
</div>
</body><!-- End of .page_wrapper -->
</html>